<%= form_for [current_user, @tweet], url: {action: "create"} do |f| %>
  <div class="form-group">
    <div>
      <%= f.label :tweet %>
    </div>
    <div>
      <%= f.text_area :tweet, :class => "form-control", :rows => 3 %>
    </div>
    <div class="bg-danger">
      <%= render partial: "error", locals: { :field => :tweet } %>
    </div>
  </div>

  <div class="form-group">
    <div>
      <%= f.label :scheduled_at, "Schedule to tweet at:" %>
    </div>
    <div class="input-group date" id='picker-scheduled-at'>
      <%= f.text_field :scheduled_at, :class => "form-control" %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    <div class="bg-danger">
      <%= render partial: "error", locals: { :field => :scheduled_at } %>
    </div>
  </div>

  <div class="form-group">
    <%= link_to "Back", user_tweets_path(current_user), :class => "btn btn-default pull-left" %>
    <%= f.submit "Schedule Tweet", :class => "btn btn-primary pull-right" %>
  </div>

<% end %>

<%
# TODO: move to tweet.js, temporarily here because picker is not respondig on first load, on repeat load it works,
#       need to further investigate
%>
<script type="text/javascript">
  $(function () {
    $('#picker-scheduled-at').datetimepicker({
      minDate: moment(),
      maxDate: moment().add(30, 'days'),
      format: 'MM/DD/YYYY hh:mm A ZZ'
    });
  });
</script>
