<!DOCTYPE html>
<html>
  <head>
    <title>Schedule a Tweet</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="text-right">
        <% if authenticated? %>
          <span><%= current_user.name %><span>
          <span>&nbsp;|&nbsp;</span>
          <span>
            <%= link_to "Sign out", signout_path, :method => :delete %>
          </span>
        <% else %>
          <span>
            <%= link_to "Twitter Sign in", "/auth/twitter" %>
          </span>
        <% end %>
        <div>&nbsp;</div>
      </div>


      <% if flash[:error] %>
        <div class="bg-danger text-center">
          <%= flash[:error] %>
        </div>
        <div>&nbsp;</div>
      <% end %>

      <% if flash[:notice] %>
        <div class="bg-success text-center">
          <%= flash[:notice] %>
        </div>
        <div>&nbsp;</div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
